@font-face {
    font-family: 'momcakeb';
    src: url('fonts/MomcakeBold-WyonA.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'momcaket';
    src: url('fonts/MomcakeThin-9Y6aZ.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'blanka';
    src: url('fonts/Blanka-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
   font-family: 'ipanema';
   src: url('fonts/IpanemaPersonalUse-EaX8z.ttf') format('truetype');
   font-style: normal;
   font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
   display: flex;
   flex-flow: column wrap;
   height: 100%;
   width: 100%;
   background: #fbeec1;
}


header {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   order: 1;
   background: url('images/headerimg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   flex: 1 2 1;
   color: white;
}


.topnav {
   display: flex;
   order: 1;
   width: 100%;
   height: 10vh;
   justify-content: center;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.8);
}


.intro {
   order: 2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   text-align: center;
   text-shadow: 5px 0px 1px black;
   font-family: 'momcaket';
   font-size: 5vw;
   padding: 2vw;
   background-color: rgba(0, 0, 0, 0.7);
}

#name {
   font-family: 'ipanema';
   text-shadow: 5px 0px 1px black;
   letter-spacing: 1vw;
   text-decoration: solid underline overline red;
   padding: 5vh;
}

#awesome {
   font-family: 'momcakeb';
   text-shadow: 5px 0px 1px black;
   letter-spacing: 1vw;
   font-size: 10vw;
}

.topnavlinks {
   display: flex;
   justify-content: center;
   margin-left: 3vw;
   border-bottom:#8D8741 solid 2px;
}


.initialstop {
   align-self: center;
   font-size: 4vw;
   font-family: 'blanka', sans-serif;
   color: whitesmoke;
   border-radius: 10%;
}


.topnavimg {
   display: flex;
   height: 5vh;
   margin-top: 1.5vh;
}


.topnavlinks a {
   display: flex;
   font-family: 'momcakeb', sans-serif;
   font-size: 3vh;
   align-items: center;
   justify-content: center;
   align-self: center;
   padding: 3vh;
}


main {
   display: flex;
   flex-flow: column nowrap;
   order: 2;
   flex: 1 1 0;
   justify-content: center;
   font-family: 'momcaket';
   border-top: #8D8741 solid 2px;
}


.about {
   display: flex;
   flex-direction: column;
   justify-content: center;
   order: 2;
   text-align: center;
   align-items: center;
   font-family: 'momcaket', sans-serif;
   font-size: 2vh;
   text-shadow: 1px 0px 1px black;
   padding: 3vh;
   margin: 3vh;
   line-height: 4vh;
}

.about h2 {
   text-decoration: underline #8D8741 solid 5px;
   font-family: 'momcakeb', sans-serif;
   margin: 2vh;
   font-size: 5vh;
   letter-spacing: 1vw;
}

.about h3 {
   font-family: 'momcakeb', sans-serif;
   margin: 2vh;
   font-size: 2vh;
   letter-spacing: 0.2vw;
}



.about img {
   border-radius: 40%;
}

.skills {
   display: flex;
   flex-direction: column;
   justify-content: center;
   order: 2;
   text-align: center;
   align-items: center;
   font-family: 'momcaket', sans-serif;
   text-shadow: 1px 0px 1px black;
   font-size: 2vh;
   padding: 3vh;
   margin: 3vh;
   line-height: 4vh;
}

.skills h2 {
   text-decoration: underline #8D8741 solid 5px;
   font-family: 'momcakeb', sans-serif;
   margin: 2vh;
   font-size: 5vh;
   letter-spacing: 1vw;
}

.skills h3 {
   font-family: 'momcakeb', sans-serif;
   margin: 2vh;
   font-size: 2vh;
   letter-spacing: 0.2vw;
}

.skills li {
   list-style:square;
}

.skills img {
   height: 10vh;
   border: underline #8D8741 solid 5px;
   border-radius: 80%;
}


.vision {
   display: flex;
   order: 3;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   font-family: 'momcaket', sans-serif;
   font-size: 3vh;
   padding: 3vh;
   margin: 3vh;
   line-height: 4vh;
   letter-spacing: 1vw;
}

.vision h2 {
   text-decoration: underline #8D8741 solid 5px;
   font-family: 'momcakeb', sans-serif;
   margin: 2vh;
   font-size: 5vh;
   letter-spacing: 1vw;
}


.vision h3 {
   font-family: 'momcakeb', sans-serif;
   margin: 2vh;
   font-size: 2vh;
   letter-spacing: 0.2vw;
}

.visionimg {
   height: 10vh;
   border-radius: 80%;
}

.projects {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.qwirty {
   height: 30vh;
   width: 30vw;
   border:  #8D8741 solid 5px;
}

.retrodraw {
   height: 30vh;
   width: 30vw;
   border:  #8D8741 solid 5px;
}


footer {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   order: 3;
   width: 100%;
   font-family: 'momcaket';
}

.about {
   order: 1;
   display: flex;
   justify-content: center;
   flex-flow: column wrap;
   text-align: center;
}

.headshot {
   width: 10vh;
   align-self: center;

}

.bottomnav {
   display: flex;
   text-align: center;
   font-size: 5vw;
   bottom: 0;
   order: 3;
   flex: 1 1 1;
   width: 100%;
   height: 10vh;
   border-top: #8D8741 solid 5px;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.6);
}

.socialmedialinks{
   order: 2;
   text-align: center;
   margin: 2vh;
}

.socialmedialinks img {
   height: 5vh;
   padding: 1vh;
}


.botnavlinks {
   display: flex;
   width: 100%;
}


.botnavimg {
   display: flex;
   height: 5vh;
   padding: 2vh;
}

.initialsbot {
   align-self: center;
   font-size: 4vh;
   font-family: 'ipanema', sans-serif;
   color: whitesmoke;
   text-shadow: 1px 0px 1px black;
}


.botnavlinks a {
   display: flex;
   font-family: 'momcakeb', sans-serif;
   color: white;
   text-align: center;
   justify-content: center;
   align-self: center;
   padding: 3vw;
   min-width: 0; 
}

a:hover {
   text-decoration: underline #659DBD 2px;
}

a:visited {
   text-decoration: none;
}


a:active {
   text-decoration: underline #659DBD 2px;
   color: white;
}

a {
   color: white;
   text-decoration: none;
}

a:after {
   text-decoration: none;
   color: white;
}


@media screen and (max-width: 768px) {
   .topnavlinks {
      display: none;
   }
   
   .bottomnav {
      position: fixed;
   }

   .botnavlinks {
      display: flex;
   }

   .initialsbot {
      display: none;
   }

   
   .socialmedialinks {
      margin-bottom: 10.5vh;
      margin-top: 1vh;
   }

}

@media screen and (min-width: 768px) {
   .botnavlinks {
      display: none;
      margin-left: 1vw;
   }

   .topnavlinks {
      display: flex;
   }
   
   .initialstop {
      display: none;
   }

}







