@font-face {
    font-family: 'momcakeb';
    src: url('fonts/MomcakeBold-WyonA.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'momcaket';
    src: url('fonts/MomcakeThin-9Y6aZ.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    text-shadow: 2px 2px 10px black;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vh 80vh 10vh;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background: rgba(0, 0, 0, .9);
}

header img {
    grid-column-start: 12;
    grid-column-end: 13;
    padding: 2vh;
}

nav {
    padding: 3vh;
    word-spacing: 1vw
}

li {
    display: inline-block;
    list-style: none;
    font-family: 'momcakeb';
    font-size: 3vh;
}


main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (3,1fr);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.center {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: 'momcaket';
    font-size: 2vh;
    color: white;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    max-height: 80vh;
    padding: 1vh;
    text-align: center;
    overflow-wrap: break-word;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
}    


footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: right;
    background:  rgba(0, 0, 0, 0.9);
    padding: 3vh;
}

a {
    color: white;
    font-size: 3vh;
    font-family: 'momcakeb';
    text-decoration: none;
}

a:link {
    color: white;
    font-size: 3vh;
    font-family: 'momcakeb';
    text-decoration: none;
}

a:visited {
    color: white;
    font-size: 3vh;
    font-family: 'momcakeb';
    text-decoration: none;
}

a:hover {
    color: white;
    font-size: 3vh;
    font-family: 'momcakeb';
    text-decoration: underline red;
}

a:active {
    color: white;
    font-size: 3vh;
    font-family: 'momcakeb';
    text-decoration: underline;
}

h1 {
    font-family: 'momcakeb';
    font-size: 10vh;
    text-decoration: underline red;
}

h2 {
    font-family: 'momcakeb';
    font-size: 2.5vh;
}

p {
    font-family: 'momcaket';
    font-size: 2vh;
}