@font-face {
    font-family: 'momcakeb';
    src: url('fonts/MomcakeBold-WyonA.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}


* {
    margin: 0 auto;
    padding: 0;
}

body{
    background-image: url('images/bg.png');
    background-repeat: no-repeat;
    background-size:inherit;
    }


nav {
    position: fixed;
    background: black;
    height: 50px;
    width: 100%;
    top: 0;
    border-bottom: solid 5px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-image: linear-gradient(to right, red 10%, yellow 25%, orange 50%,orangered 50%, green 75%, teal 75%) 5;
}


li {
    display: inline-block;
    font-family: 'momcakeb';
    font-size: 32px;
}

a {
    color: white;
    font-size: 32px;
    font-family: 'momcakeb';
    text-decoration: none;
}

a:link {
    color: white;
    font-size: 32px;
    font-family: 'momcakeb';
    text-decoration: none;
}

a:visited {
    color: white;
    font-size: 32px;
    font-family: 'momcakeb';
    text-decoration: none;
}

a:hover {
    color: white;
    font-size: 32px;
    font-family: 'momcakeb';
    text-decoration: underline;
}

a:active {
    color: white;
    font-size: 32px;
    font-family: 'momcakeb';
    text-decoration: underline;
}


main {
    position: relative;
    top: 20vh;
    bottom: 20vh;
    left: 3vw;
    right: 20vw;
    font-family: 'momcakeb';
    text-align: center;
    color: white;
    font-size: 30px;
    border: solid 5px;
    border-image: linear-gradient(to right,red 10%, yellow 25%, orange 50%,orangered 50%, green 75%, teal 75%) 5;
    height: fit-content;
    width: fit-content;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: black;
    text-align: right;
    border-top: solid 5px;
    border-left: none;
    border-right: none;
    border-image: linear-gradient(to right, red 10%, yellow 25%, orange 50%,orangered 50%, green 75%, teal 75%) 5;
}